<ul class="nav justify-content-end">
  <li class="nav-item">
    <a class="nav-link active" href="/">Home</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="">Search</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="">Profile/login</a>
  </li>
  <li class="nav-item">
      <a class="nav-link" href="">logout/signup</a>
  </li>
</ul>