

<nav class="navbar navbar-expand-sm bg-light" style="background-color: #0e1316;">

    <a class="navbar-brand" href="/">Project Navigator</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
  
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              <img id = "profPic" src="<%= currentUser.picture %>"/>
          </a>
          <div class="dropdown-menu" aria-labelledby="navbarDropdown">
            <a class="dropdown-item" href='/users/profile'>Your Profile</a>
            <a class="dropdown-item" href="/projects">Your Projects</a>
            <a class="dropdown-item" href="/projects/new">New Project</a>
            <a class="dropdown-item" href="/users/chat">Chat</a>
            <div class="dropdown-divider"></div>
            <a class="dropdown-item" href="/users/logout">Log Out</a>
          </div>
        </li>
          
        <li class="nav-li">
          <form action="/projects" method="GET" class="form-inline">
            <input type="text" name="search" placeholder="search projects" class="form-control">
            <input type="submit" class="btn btn-outline-success my-2 my-sm-0" value="Search">
          </form>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="/chat">Messages</a>
        </li>
      </ul>
    </div>
  </nav>

  