

<div class="text-center col-md-8 col-md-offset-2">
    <h1><span class="fa fa-lock"></span>Project Navigator</h1>
    <h3>Login or Sign Up:</h3>
    <a href="/users/login" class="btn btn-default">Login</a>
    <a href="/users/signup" class="btn btn-default">Signup</a>
    <hr>
</div>

<form action="/hms/accommodations" method="GET"> 
  <div class="row">
    <div class="col-xs-6 col-md-4">
      <div class="input-group">
   <input type="text" class="form-control" placeholder="Search" id="txtSearch"/>
   <div class="input-group-btn">
        <button class="btn btn-primary" type="submit">
        <span class="glyphicon glyphicon-search"></span>
        </button>
   </div>
   </div>
    </div>
  </div>
</form>

<a href="/projects" class="btn">View All Projects</a>
