<div class="text-center" style="margin: 50px auto">
    <h1><span class="fa fa-connectdevelop"></span>All Projects</h1>

    <% if(isLoggedIn){ %>

        <% } else {%>
    <h3>Login or Sign Up:</h3>
    <a href="/users/login" class="btn btn-default">Login</a>
    <a href="/users/signup" class="btn btn-default">Signup</a>
    <hr>
</div>
<% } %> 

<% projects.forEach((p)=>{ %>

    <div class="card" style="width: 30%;">
            <img class="card-img-top" src="<%= p.imageUrl %>" alt="Card image cap">

            <div class="card-body">
                <h5 class="card-title"><%= p.name %></h5>
                <p class="card-text"><%=  p.description.substring(35,0) %><% if(p.description.length > 35){ %>...<% } %></p>
                <a href="/projects/<%= p._id%>" class="btn btn-outline-secondary card-button">View Project</a>
            </div>
        </div>
<% }) %>