body{
    color: rgba(31, 31, 31, 0.548);
}
li {
    list-style: none;
    display: inline;
}
#profileH1 {
    margin: 25px auto 0;
}

.nav-li {
    margin-left: 250px;
}
.profile-pic {
    max-width: 100px;
}

.project-image{
    max-width: 400px;
}
.card{
    display: inline-block;
    margin: 0 auto;
    max-width: 200px;
    min-width: 200px;
    overflow: scroll;
   
}

.card-img-top{
    height: 140px;
}

.card-title {
    height: 10px;
}

.card-text {
    height: 40px;
    white-space: pre-line;
}
.card-button{
    height: 40px;
}

.form-group {
    max-width: 150px;
 }

#newProject {
    float: right;
    font-size: 20px;
    border: 1px solid rgba(113, 113, 255, 0.4);
    background:rgba(113, 113, 255, 0.2);
    border-radius: 5px;
    padding: 4px;
}
#profPic {
    width: 30px;
}