

/* .btn-primary {
    color:green;
    background-color: rgba(94,104,103,1);
    border-color: green;
   
} */


input.form-control{
    background-color: grey;
    border: black;
}


body{
    /* color: rgba(31, 31, 31, 0.548); */
    color: rgba(240,244,241, .9);
    background: linear-gradient( rgba(94,104,103,1), rgba(28, 33, 32, 1)) fixed;
    background-repeat: no-repeat;
    background-size: cover;
    margin-bottom: 40%;
    font-family: 'Raleway', sans-serif;
}
#plus {
    color: rgba(255, 255, 255, 0.7);
    text-shadow: 1px 1px 1px rgba(160, 160, 160, 1);
    font-size: 2.5em;
}
#plusEle {
     margin: auto;
}
li {
    list-style: none;
    display: inline;
}
#profileH1 {
    margin: 25px auto 0;
}
div.deleteCtn {
    width: 0;
}
.nav-li {
    margin-left: 250px;
}
.profile-pic {
    max-width: 100px;
}
.project-image{
    max-width: 400px;
}
.card{
    display: inline-block;
    margin: 0 auto;
    max-width: 200px;
    min-width: 200px;
    overflow: scroll;
    color: black;
    background: rgba(255, 255, 255, 0.8);
}

.card-img-top{
    height: 140px;
}
.card-title {
    height: 10px;
}
.card-text {
    height: 40px;
    white-space: pre-line;
}
.card-button{
    height: 40px;
}
#profPic {
    width: 30px;
}
.comment {
    display: block;
    border: 1px solid rgba(113, 113, 255, 0.4);
    font-size: 25px;
}

a {color: white;}
a:hover {color:grey;}

