body{
    color: rgba(31, 31, 31, 0.548);
}
li {
    list-style: none;
    display: inline;
}

.profile-pic {
    max-width: 100px;
}

.project-image{
    max-width: 400px;
}
.card{
    display: inline-block;
    margin: 0 auto;
}
#newProject {
    float: right;
    font-size: 20px;
    border: 1px solid rgba(113, 113, 255, 0.4);
    background:rgba(113, 113, 255, 0.2);
    border-radius: 5px;
    padding: 4px;
}
#profPic {
    width: 30px;
}