<h1>Add New Project</h1>

<form method="post" action="/projects">
    <input name="name" type="text" placeholder="Name" />
    <input name="url" type="text" placeholder="URL" />
    <input name ="description" type="text" placeholder="description" />
    <input name ="imageUrl" type="text" placeholder="Image URL" />
    <button>Submit</button>
</form>