<h1>Add New Project</h1>

<form method="post" action="/projects">
    <div class="form-group">
        <label for="exampleInputEmail1">Name of Project</label>
        <input name="name" type="text" class="form-control" />
    </div>
    <div class="form-group">
         <label for="exampleInputEmail1">Add a Github URL</label>
        <input name="githubUrl" type="text" class="form-control" />
    </div>
    <div class="form-group">
        <label for="exampleInputEmail1"> Description of your project </label>
        <input name ="description" type="text" class="form-control" />
    </div>
    <div class="form-group">
        <label for="exampleInputEmail1">Host an Image to show off your Project </label>
        <input name ="imageUrl" type="text" class="form-control" />
    </div>
    <div class="form-group">
            <label for="exampleInputEmail1">Show your finished project off! What is its URL?</label>
        <input name="projectUrl" type="text" class="form-control"  />
    <div class="form-group">
        <label for="exampleFormControlSelect1"> Current Project? (Project hides from other users if so) </label>
        <select class="form-control" id="exampleFormControlSelect1" name="currentProject">
          <option> True </option>
          <option> False </option>
        </select>
    <button>Submit</button>
</form>


