
 <h3>Project Name: <%= project.name %></h3>

<div>Project Description: <%= project.description %> </div>
<img class="project-image" src= <%= project.imageUrl %>/>
<div><a href="<%= project.url %>">Find on Github</a></div>




