
 <h3>Project Name: <%= project.name %></h3>

 <div>Project Description: <%= project.description %> </div>
<div> Find on Github: <%= project.url %></div>
<img class="project-image" src= <%= project.imageUrl %>/>





